stow-home/neovim/.config/nvim/plugged/*
stow-home/neovim/.config/nvim/.netrwhist

*.uuid
fonts/.uuid
stow-home/mpd/.config/mpd/log
stow-home/mpd/.config/mpd/pid
stow-home/mpd/.config/mpd/state
stow-home/mpd/.config/mpd/database

