stow-home/neovim/.config/nvim/plugged/**
stow-home/neovim/.config/nvim/.netrwhist

*.uuid
fonts/.uuid
stow-home/mpd/.config/mpd/database
stow-home/mpd/.config/mpd/mpd/log
stow-home/mpd/.config/mpd/mpd/pid
stow-home/mpd/.config/mpd/mpd/state

